<!DOCTYPE html>
<!--
  ~ Copyright (c) 2019, 2020, 2023 Oracle and/or its affiliates.
-->
<html lang="en-US">
  <meta charset="utf-8">
  <title>Helidon Guides</title>
  <link rel="canonical" href="../docs/latest/index.html#/guides/01_overview">
  <meta name="description" content="Guides">
  <script>location="../docs/latest/index.html#/guides/01_overview"</script>
  <meta http-equiv="refresh" content="0; url=../docs/latest/index.html#/guides/01_overview">
  <meta name="robots" content="noindex">
  <meta property="og:url" content="https://helidon.io/guides" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Helidon Project" />
  <meta property="og:description" content="Guides" />
  <meta property="og:image" content="https://helidon.io/static/img/unfurl_logo.png" />
  <h1>Redirecting&hellip;</h1>
  <a href="../docs/latest/index.html#/guides/01_overview">Click here if you are not redirected.</a>
</html>
