/target/
.DS_Store
*.class
*.ctxt
.mtj.tmp/
*.jar
*.war
*.ear
hs_err_pid*
target/
.idea/
*.project
*.classpath
.settings/
.m2/
*.iws
*.ipr
*.iml
*.releaseBackup
atlassian-ide-plugin.xml
user.txt
nb-configuration.xml
node_modules/
node/
*.swp

