
package {{package}};

{{#MainTest-imports}}
import {{.}};
{{/MainTest-imports}}

@HelidonTest
public class MainTest {

    @Inject
    private WebTarget target;

{{#MainTest-methods}}
{{.}}
{{/MainTest-methods}}

}
